<div class="parent">
    <div class="left">
        <div class="L1">
            <ul>
                <h2><li routerLink="createemployee"> <i class="glyphicon glyphicon-home"></i>  createemployee</li></h2>
                <h2><li routerLink="allemployees"> <i class="glyphicon glyphicon-signal"></i> allemployees</li></h2>
                <h2><li routerLink="contact-us"> <i class="glyphicon glyphicon-signal"></i> contact-us</li></h2>
                <h2><li routerLink="about-us"> <i class="glyphicon glyphicon-signal"></i> about-us</li></h2>
                <h2><li routerLink="roles"> <i class="glyphicon glyphicon-signal"></i> roles</h2>
                <h2><li routerLink="employeedetails"> <i class="glyphicon glyphicon-signal"></i> employeedetails</h2>
                <h2><li routerLink="communication"> <i class="glyphicon glyphicon-signal"></i> communication</h2>
                <h2><li routerLink="shopping"> <i class="glyphicon glyphicon-signal"></i> shopping</h2>
                    <button type="button" class="btn btn-primary">
                        cart <span class="badge badge-light">4</span>
                      </button>      
            </ul>
        </div>
        <div class="L2">
            
            <button routerLink="/login">logout</button>
        </div>
    </div>
    <div class="right">
                <router-outlet></router-outlet>
      
        
    </div>
</div>
